:root {
    --grad: linear-gradient(
      90deg,
      rgba(234, 244, 236, 1) 0%,
      rgba(254, 255, 237, 1) 35%,
      rgba(228, 224, 215, 1) 59%,
      rgba(229, 229, 229, 1) 100%
    );
  }
  @media (max-width: 1200px) {
    button {
      width: 200px;
    height: 75px;}
  
    input{
      height: 75px;
      width: 300px;
    }
   body{ font-size: 35px;}

   .uk-nav{
     font-size: 35px;
   }
  }
  html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 40s infinite alternate;
  }
  #toggle-animation{
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 240s infinite alternate;
  }
  
  @keyframes bg-ani {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
  }

#newPostContainer{
    padding: 5vw;
}

.complete {
    display: none;
  }


  #ID{
    display: none;

  }

  .reply{
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 240s infinite alternate;
    z-index: 222;
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  }
  #rReplyBox{
  
    -webkit-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    -moz-box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
    box-shadow: 0 2px 9px 5px rgba(41, 41, 40, 1);
  }
  #rrReplyBox{
    float: right;
    color: rgba(62, 74, 82);
    font-weight: 700;
    padding: 10px;
  }

  #nav{
    top: 0;
    left: 2vw;
    position: fixed;
  }
  .uk-nav{
    font-size: 25px;
  }

  #forumBox{
    font-size: 27px;
    padding-top:6rem;
  }

  h1{
    font-family: 'Cinzel', serif;
color: #336A6C;
font-weight: 549;
font-size: 40px;
  }

  #authName{
    color: #0076B8;
    font-family: 'Cinzel', serif;
    font-size: 44px;
  }