:root {
    --grad: linear-gradient(
      90deg,
      rgba(163, 207, 239, 1) 0%,
      rgba(146, 195, 221, 1) 35%,
      rgba(131, 183, 202, 1) 59%,
      rgba(130, 182, 197, 1) 100%
    );
  }
  @media (max-width: 1200px) {
    button {
      width: 200px;
    height: 75px;}
  
    input{
      height: 75px;
      width: 300px;
    }
   body{ font-size: 35px;}

   .uk-nav{
     font-size: 35px;
   }
  }
  html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 40s infinite alternate;
  }
  #toggle-animation{
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 240s infinite alternate;
  }
  
  @keyframes bg-ani {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
  }

#newPostContainer{
    padding: 5vw;
}

.complete {
    display: none;
  }


  #ID{
    display: none;

  }

  .reply{
    position: absolute;
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 240s infinite alternate;
    z-index: 222;
  -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  }
  #rReplyBox{
  
    -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  }
  #rrReplyBox{
    float: right;
    color: rgba(62, 74, 82);
    font-weight: 700;
    padding: 10px;
    -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  }

  #nav{
    background-image: var(--grad);
    background-size: 600%;
    animation: bg-ani 240s infinite alternate;
    z-index: 222;
  -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);

    top: 0;
    left: 2vw;
    position: fixed;
    opacity: .5;
  transition:1s;
  -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  }
#nav:hover{
  opacity: 1;
  transition:.5s;
}

  .uk-nav{
    font-size: 25px;
  }

  #forumBox{
    font-size: 27px;
    padding-top:6rem;
    -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  }

  #postBox{
    padding: 4rem;
    -webkit-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 50px 4px rgba(0,0,0,0.75);
  }

  h1{
    font-family: 'Cinzel', serif;
color: #336A6C;
font-weight: 549;
font-size: 40px;
  }

  #authName{
    color: #0076B8;
    font-family: 'Cinzel', serif;
    font-size: 44px;
  }

  #ipBox{
    opacity: .2;
    top: 0;
    right: 0;
    position: absolute;
    width: 300px ;
  transition:1s;
  align-items: flex-end;
  text-align: end;

  }

  #ipBox:hover{
    transition:.5s;

    opacity: 1;

  }